<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WinkWide</title>
<th:block th:include="includes/_include"></th:block>
<script th:src="@{/apps/smartTVApp.js}"></script>


</head>

<body ng-app="smartTVApp" ng-controller="smartCtrl as vm" ng-init="init()" class="bg-dark">

	<!-- <div id="smoothDrop" ng-class="d-block : mediaChanging"></div> -->
	<img id="mainMedia" src="" >

	<div class="centered-div">
		<div style="text-align:center">
		<img src="/img/icons/logo.png" class=" w-75" >
		</div>

		<div class="pt-4" style="text-align:center">
		<button id="controlButton" class="btn btn-lg btn-primary" ng-click="winkwide()" >Launch WinkWide</button>
		</div>
		

	</div>
	
	<th:block sec:authorize="isAuthenticated()">
	          <p id="displayId" th:utext="${#request.userPrincipal.name}">..</p>
	</th:block>
	

</body>
</html>