<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WinkWide</title>
<th:block th:include="/includes/_include"></th:block>
<script th:src="@{/apps/crudApp.js}"></script>

</head>

<body  ng-app="crudApp" ng-controller="crudCtrl as vm">
	<th:block th:include="/portal/_header"></th:block>
		
		<section class="row" id="mainContent">
			<th:block th:include="/portal/_navigation"></th:block>
			<div class="col m-4">
			
				<!-- CONTEXT INFORMATION -->
				<div class="row m-2 rounded bg-light" id="contextRow">
					<div class="col m-2 ml-auto">	
					<p class="text-primary font-weight-bold float-left" href="">Unauthorized Access </p>
					</div>
						
				</div>
				

				<div class="row m-2 rounded bg-light">
					<div class="m-2 w-100">
						
							<p class="text-danger">Sorry, you cannot access this page</p>
					</div>
				</div>
															
			</div>
		</section>

	<th:block th:include="/portal/_footer"></th:block>

</body>
</html>