<div id="navigation" class="font-weight-bold">
            <ul class="sidenav ">
                <li>
                    <a href="#">Displays</a>
                </li>
                <li>
                    <a href="#">Media</a>
                </li>
                <li>
                    <a href="#">Central Program</a>
                </li>
                <li>
                    <a href="#">Central Report</a>
                </li>
                <li>
                    <a href="#">Partners</a>
                </li>
                <li>
                    <a href="#">Clients</a>
                </li>
				<li>
                    <a href="#">Operations</a>
                </li>
                <li>
                    <a href="#">Billing</a>
                </li>

            </ul>
</div>