<div id="navigation" class="font-weight-bold" ng-class="{ 'currentNav' : currentPath === '/displays' }" >
            <ul class="sidenav " ng-class="{ 'currentNav' : currentPath === '/displays' }" >
                <li>
                    <a href="/displays" ng-class="{ 'currentNav' : currentPath === '/displays' }" >Displays</a>
                </li>
                <li>
                    <a href="/medias" ng-class="{ 'currentNav' : currentPath === '/medias' }" >Medias</a>
                </li>
                <li>
                    <a href="/programs" ng-class="{ 'currentNav' : currentPath === '/programs' }" >Programs</a>
                </li>
                <li>
                    <a href="/reports" ng-class="{ 'currentNav' : currentPath === '/reports' }" >Reports</a>
                </li>
                <li>
                    <a class="disabled-link" href="/" ng-class="{ 'currentNav' : currentPath === '/partners' }" >Partners</a>
                </li>
                <li>
                    <a class="disabled-link" href="/" ng-class="{ 'currentNav' : currentPath === '/clients' }" >Clients</a>
                </li>
				<li>
                    <a class="disabled-link" href="/" ng-class="{ 'currentNav' : currentPath === '/operations' }" >Operations</a>
                </li>
                <li>
                    <a class="disabled-link" href="/" ng-class="{ 'currentNav' : currentPath === '/billing' }" >Billing</a>
                </li>

            </ul>
</div>