<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<th:block th:include="/includes/_include"></th:block>
</head>

<body>
	<th:block th:include="/portal/_header"></th:block>
	
	<section class="container-fluid p-3 bg-welcome" >
            
      <div class="col-md-4 mx-auto p-3 bg-white rounded">
	     <div class="">
	         <h4 class="mx-auto">Login to WinkWide </h4>
	     </div>
	      
         <form method="POST"
            th:action="@{/j_spring_security_check}">
                   
              <div class="form-group">
			    <input type="email" name="userName" class="form-control" placeholder="Email address" autofocus>
			  </div>
			  <div class="form-group">
			    <input type="password" name="password" class="form-control" placeholder="Password">
			  </div>

			  <div class="form-group mt-2">
			  <button type="submit" class="btn btn-primary">Login</button>
			</div>
         </form>
         <br>
	     <!-- /login?error=true -->
	     <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
	          <div th:if= "${#request.getParameter('error') == 'true'}" >
	             <small class="text-danger"> Login Failed!<br /> Reason :</small>
	             <small class="text-danger" th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></small>
	          </div>
	     </th:block>         
         <hr>
         
         or, <a href="/portal/createAccount">Create a new account</a>
         
      </div>

	</section>

	<th:block th:include="/portal/_footer"></th:block>

</body>
</html>