<div id="navigation" class="font-weight-bold" >
            <ul class="sidenav " >
                <li>
                    <a href="/portal/displays" ng-class="{ 'currentNav' : currentPath === '/portal/displays' }" >Displays</a>
                </li>
                <li>
                    <a href="/portal/medias" ng-class="{ 'currentNav' : currentPath === '/portal/medias' }" >Medias</a>
                </li>
                <li>
                    <a href="/portal/programs" ng-class="{ 'currentNav' : currentPath === '/portal/programs' }" >Programs</a>
                </li>
                <li>
                    <a href="/portal/reports" ng-class="{ 'currentNav' : currentPath === '/portal/reports' }" >Reports</a>
                </li>
                <li>
                    <a class="disabled-link" href="/portal" ng-class="{ 'currentNav' : currentPath === '/portal/partners' }" >Partners</a>
                </li>
                <li>
                    <a class="disabled-link" href="/portal" ng-class="{ 'currentNav' : currentPath === '/portal/clients' }" >Clients</a>
                </li>
				<li>
                    <a class="disabled-link" href="/portal" ng-class="{ 'currentNav' : currentPath === '/portal/operations' }" >Operations</a>
                </li>
                <li>
                    <a class="disabled-link" href="/portal" ng-class="{ 'currentNav' : currentPath === '/portal/billing' }" >Billing</a>
                </li>

            </ul>
</div>