
	<!-- DATA TABLE -->
	<div class="row m-2  rounded bg-light" id="tableRow">
		<div class="m-4 w-100" style="font-size: 12px">
			<div id="crudTable">
				<div ui-grid="mainGrid" class="grid" ui-grid-pagination ui-grid-selection ui-grid-exporter></div>
			</div>

		</div>
	</div>


	<!-- CREATE / EDIT an object modal -->
	<div class="modal fade" id="createEditObjectModal" tabindex="-1">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createEditObjectModalLabel">{{isCreateModalType ? 'Create '+targetObject : 'Edit '+targetObject}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				<form id="objectForm" name="objectForm" class="m-2">
				<div class="modal-body m-1 p-1">		
										
						<!-- AUTOMATIC form fields for each object -->
						<!-- ------------------------------------- -->
						
						<div ng-repeat="field in schema" ng-if="targetObject!='media' && field.name!='id'" class="form-group row">
						 
						    <label ng-if="['String','boolean', 'int', 'Long', 'BigDecimal', 'Date'].indexOf(field.type) !== -1" 
						    		class="col-sm-2 col-form-label">{{field.title}}</label>
						    
						    <!-- case of a Textfield -->
						    <div ng-if="field.type=='String'" class="col-sm-10">
								<input type="text" class="form-control" name="{{field.name}}" ng-model="formData[field.name]" ng-class="{ 'is-invalid' : objectForm[field.name].$invalid && !objectForm[field.name].$pristine }" required>
								<small ng-show="objectForm[field.name].$invalid && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
							</div>
							
							<!-- case of a Boolean -->
						    <div ng-if="field.type=='boolean'" class="col-sm-10">
								<select type="text" class="form-control" name="{{field.name}}" ng-model="formData[field.name]" required>
									<option ng-selected="formData[field.name] == true">true</option>
									<option ng-selected="formData[field.name] == false">false</option>
								</select>
								<small ng-show="objectForm[field.name].$invalid && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
							</div> 
							
							<!-- case of a Number -->
						    <div ng-if="field.type=='int' || field.type=='Long' " class="col-sm-10">
								<input type="text" class="form-control" name="{{field.name}}" ng-model="formData[field.name]" ng-pattern="/^[0-9]*$/" ng-class="{ 'is-invalid' : objectForm[field.name].$invalid && !objectForm[field.name].$pristine }" required>
								<small ng-show="objectForm[field.name].$error.required && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
								<small ng-show="!objectForm[field.name].$error.required  && objectForm[field.name].$error.pattern && !objectForm[field.name].$pristine" class="text-danger">&nbsp field {{field.title}} must be a number </small>				
							</div>
							
							<!-- case of a Decimal -->
						    <div ng-if="field.type=='BigDecimal' " class="col-sm-10">
								<input type="text" class="form-control" name="{{field.name}}" ng-model="formData[field.name]" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" ng-class="{ 'is-invalid' : objectForm[field.name].$invalid && !objectForm[field.name].$pristine }" required>
								<small ng-show="objectForm[field.name].$error.required && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
								<small ng-show="!objectForm[field.name].$error.required  && objectForm[field.name].$error.pattern && !objectForm[field.name].$pristine" class="text-danger">&nbsp field {{field.title}} must be a decimal </small>				
							</div>
																			
							<!-- case of a Date -->
						    <div ng-if="field.type=='Date'" class="col-sm-10 input-append date form_datetime row">
								<div class="col-sm-10 pr-0">
								<input type="text" name="{{field.name}}" class="form-control form-control-sm small mt-1 " readonly  placeholder="yyyy-mm-dd hh:mm" ng-model="formData[field.name]" required>
								</div>
								<div class="col-sm-2 p-1">
									<div class="mt-1">
										<span class="add-on"><i class="icon-remove fa fa-remove"></i></span>
    									<span class="add-on"><i class="icon-calendar fa fa-calendar"></i></span>
									</div>
    							</div>
																										
						 	</div>
						</div>

						<!-- add SCHEMA RELATED specific form fields here -->
						<!-- -------------------------------------------- -->
						
						<!-- case of a Program -->
						<div ng-repeat="field in schema" ng-if="targetObject=='program'">
							<div  class="form-group row">
								 <label ng-if="field.type=='Display'" class="col-sm-2 col-form-label">Display</label>
								 <div ng-if="field.type=='Display'" class="col-sm-4">
								 	<div ui-grid="displaysGrid" class="grid small" ui-grid-pagination ui-grid-selection ></div>						 		
								 </div>
								 <div ng-if="field.type=='Display'" class="col-sm-1">
								 	<button id="displaysGridAddButton" ng-click="addSelectedObjects('display')" class="btn btn-sm btn-primary mt-5" ><i class="fa fa-arrow-right fa-fw"></i></button>
								 	<button id="displaysGridRemoveButton" ng-click="removeSelectedObjects('display')" class="btn btn-sm btn-primary mt-2" ><i class="fa fa-arrow-left fa-fw"></i></button>						 									 		
								 </div>
								 <div ng-if="field.type=='Display'" class="col-sm-4">
								 	<div ui-grid="selectedDisplaysGrid" class="grid small" ui-grid-pagination ui-grid-selection ></div>						 		
								 </div>
							</div>						
							
							<div  class="form-group row">		 	
								 <label ng-if="field.type=='List'" class="col-sm-2 col-form-label">Medias</label>
								 <div ng-if="field.type=='List'" class="col-sm-4">
								 	<div ui-grid="mediasGrid" class="grid small" ui-grid-pagination ui-grid-selection ></div>						 		
								 </div>
								 <div ng-if="field.type=='List'" class="col-sm-1">
								 	<button id="mediasGridAddButton" ng-click="addSelectedObjects('medias')" class="btn btn-sm btn-primary mt-5" ><i class="fa fa-arrow-right fa-fw"></i></button>
								 	<button id="mediasGridRemoveButton" ng-click="removeSelectedObjects('medias')" class="btn btn-sm btn-primary mt-2" ><i class="fa fa-arrow-left fa-fw"></i></button>						 									 		
								 </div>
								 <div ng-if="field.type=='List'" class="col-sm-4">
								 	<div ui-grid="selectedMediasGrid" class="grid small" ui-grid-pagination ui-grid-selection ></div>						 		
								 </div>				 	
							</div>
						</div>
						
						<!-- add MANUALLY SET specific form fields here -->
						<!-- ------------------------------------------ -->
						
						<!-- case of a Media -->
						<div ng-if="targetObject=='media'">
							<div class="form-group row">						
								<label class="col-sm-2 col-form-label">Name</label>
							    <div class="col-sm-10">
									<input type="text" class="form-control" name="name" ng-model="formData.name" ng-class="{ 'is-invalid' : objectForm.name.$invalid && !objectForm.name.$pristine }" required>
									<small ng-show="objectForm.name.$invalid && !objectForm.name.$pristine" class="text-danger"> &nbsp field Name is required </small>
								</div>
							</div>
							<div class="form-group row">						
								<label class="col-sm-2 col-form-label">Media Type</label>
							    <div class="col-sm-10">
									<select type="text" class="form-control" name="mediaType" ng-model="formData.mediaType" ng-class="{ 'is-invalid' : objectForm.mediaType.$invalid && !objectForm.mediaType.$pristine }" required>
										<option ng-selected="formData.mediaType=='ads'">ads</option>
										<option ng-selected="formData.mediaType=='info'">info</option>
										<option ng-selected="formData.mediaType=='private'">private</option>
										<option ng-selected="formData.mediaType=='other'">other</option>
									</select>
									<small ng-show="objectForm.mediaType.$invalid && !objectForm.mediaType.$pristine" class="text-danger"> &nbsp field Media Type is required </small>
								</div>
							</div>
							<div class="form-group row">						
								<label class="col-sm-2 col-form-label">Media File</label>
							    <div class="col-sm-10">
									<input type="file" class="form-control" name="file" id="file" onchange="angular.element(this).scope().previewFile(this)"  ng-class="{ 'is-invalid' : objectForm.file.$invalid && !objectForm.file.$pristine }">
									<small ng-show="objectForm.file.$invalid && !objectForm.file.$pristine" class="text-danger"> &nbsp field Media File is required </small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Preview</label>
							    <div class="col-sm-10">
									<img id="mediaPreview" ng-src="{{formData.url}}" alt="Media Preview" class="form-control w-50">
								</div>
							</div>
						</div>	
							
				</div>
												
				<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button id="createEditObjectModalAction" ng-click="isCreateModalType ? createTargetObject() : updateTargetObject()" type="button" class="btn btn-primary" ng-disabled="objectForm.$invalid">{{isCreateModalType ? 'Create' : 'Update'}}</button>
				</div>
				</form>	
																									
			</div>
		</div>
	</div>


	<!-- DELETE an object modal -->
	<div class="modal fade" id="deleteObjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteObjectModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteObjectModalLabel">Delete {{targetObject}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="modal-title" id="exampleModalLabel">Are your sure you want to delete that {{targetObject}}?</p>
					<br>

					<!-- AUTOMATIC form fields for each object -->
					<!-- ------------------------------------- -->
						
					<div ng-repeat="field in schema" ng-if="targetObject!='media'" class="form-group row">
						<label ng-if="['String','boolean', 'int', 'Long', 'BigDecimal', 'Date'].indexOf(field.type) !== -1" 
							class="col-sm-2 col-form-label">{{field.title}}</label>
						<div ng-if="['String','boolean', 'int', 'Long', 'BigDecimal', 'Date'].indexOf(field.type) !== -1" 
							class="col-sm-10">
							<div class="form-control">{{formData[field.name]}}</div>
						</div>
					</div>
					
					<!-- add SCHEMA RELATED specific form fields here -->
					<!-- -------------------------------------------- -->
						
					<!-- case of a Program -->
					<div ng-repeat="field in schema" ng-if="targetObject=='program'" class="form-group row">
					<!-- <label ng-if="field.type=='Display'" class="col-sm-2 col-form-label">Display</label>
						<div ng-if="field.type=='Display'" class="col-sm-10">
						 		<div ui-grid="selectedDisplaysGrid" class="grid small" ui-grid-pagination ui-grid-selection ></div>						 		
						</div>
						 	
						<label ng-if="field.type=='List'" class="col-sm-2 col-form-label">Medias</label>
						<div ng-if="field.type=='List'" class="col-sm-10">
								<div ui-grid="selectedMediasGrid" class="grid small" ui-grid-pagination ui-grid-selection ></div>						 		
						</div> -->
					</div>		

					<!-- add MANUALLY SET specific form fields here -->
					<!-- ------------------------------------------ -->
							
					<!-- case of a Media -->
					<div ng-if="targetObject=='media'">
						<div class="form-group row">						
							<label class="col-sm-2 col-form-label">Name</label>
						    <div class="col-sm-10">
								<div class="form-control">{{formData.name}}</div>
							</div>
						</div>
						<div class="form-group row">						
							<label class="col-sm-2 col-form-label">Media Type</label>
						    <div class="col-sm-10">
								<div class="form-control">{{formData.mediaType}}</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Preview</label>
						    <div class="col-sm-10">
								<img ng-src="{{formData.url}}" alt="Media Preview" class="form-control w-50">
							</div>
						</div>
					</div>						
					
						
				</div>
				<div class="modal-footer">
					<button ng-click="clearFormData()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button ng-click="deleteTargetObject()" type="button" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>
	
		<!-- Delete selection modal -->
	<div class="modal fade" id="deleteSelectionModal" tabindex="-1">
		<div class="modal-dialog modal-sm" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteSelectionModalLabel">Delete Selection</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="modal-title" id="exampleModalLabel">Are your sure you want to delete the selected {{targetObject}}s?</p>
				</div>
				<div class="modal-footer">
					<button ng-click="" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button ng-click="deleteSelection()" type="button" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>-->