
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="/vendor/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<link href="/vendor/font-awesome/css/all.css" rel="stylesheet" type="text/css">

<!-- Plugin CSS -->
<link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/vendor/momentjs/moment.min.js"></script>


<!-- Custom styles for this template -->
<link href="/css/winkwide.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<link href="/css/navigation.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">
<link href="/css/crudTable.css" rel="stylesheet">


<!-- Custom scripts for this template -->
<script src="/js/winkwide.js"></script>

<!-- Angular JS & UI Grid libraries -->
<script src="/vendor/angularjs/1.5.6/angular.min.js"></script>
<script src="/vendor/angular-ui/4.6.2/ui-grid.min.js"></script>
<link href="/vendor/angular-ui/4.6.2/ui-grid.min.css" rel="stylesheet">

<!-- Date Time Picker -->
<script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"  rel="stylesheet">

<!-- Clock Picker -->
<script src="/vendor/bootstrap-clockpicker/js/bootstrap-clockpicker.min.js"></script>
<link href="/vendor/bootstrap-clockpicker/css/bootstrap-clockpicker.min.css"  rel="stylesheet">
