<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenue sur WinkWide</title>
<th:block th:include="includes/_include"></th:block>

</head>

<body>
	<!-- The background video -->
	<video autoplay muted loop id="backgroundVideo" src="" type="video/mp4"></video>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container-fluid text-white">
			<a class="navbar-brand" href="#"><img class="float-right"
				src="/img/icons/logo.png" height="65" width="65"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="#">Notre Réseau d'Ecrans</a></li>
					<li class="nav-item"><a class="nav-link" href="localhost:40001/tv">Devenez Partenaire</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Aide</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Inscription</a></li>
					<li class="nav-item"><a class="nav-link" href="/login">Connexion</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<header class="masthead text-center text-white d-flex bg-welcome small">

		<div class="container-fluid my-auto">
			<div class="row h-100" style="margin-top:100px">
				
				<div class="col-lg-3 col-sm-5 m-3 mt-auto bg-light rounded p-3">

				     <div class="w-100 mb-3">
				     
				         <h6 class="text-dark float-center"> Lancez votre Campagne Pub <br>sur le réseau d'écrans WinkWide&reg </h6>
				     </div>
			
				      
			         <form method="POST" th:action="@{/}">
							                   
					         <div class="form-group form-row">
					          <div class="col-md-8" >
					            <input type="text" name="firstName" class="form-control form-control-sm" placeholder="Raison Sociale" required>
				   	          </div>
				
					          <div class="col-md-4" >
					            <input type="text" name="lastName" class="form-control form-control-sm" placeholder="ICE" required>
				   	          </div>
							</div>
					      
					        <div class="form-group" >
					            <input type="email" name="userName" class="form-control form-control-sm" placeholder="Adresse email" required>
					        </div>
				
					        <div class="form-group" >
					            <input type="password" name="password" class="form-control form-control-sm" placeholder="Mot de passe" ng-model="accountForm.password" required>
					        </div>
					        
					        <div class="form-group" >
					            <input type="password" name="confirmPassword" class="form-control form-control-sm" placeholder="Confirmer mot de passe" required>
					        </div>

					        <div class="form-group" >
					            <textarea type="text" name="" class="form-control form-control-sm" placeholder="Objet de la Campagne Pub, 			Durée, Impressions cibles..."  required></textarea>
					        </div>

					        <div class="form-group" >
					            <label class="text-dark"> <text class="font-weight-bold">Uploadez votre Media de pub</text> <br> (jpeg, jpg, gif, mp4) </label>
					            <input type="file" name="" class="form-control form-control-sm" placeholder="Média (jpeg, jpg, gif, mp4)" required>
					        </div>
					        
				
							<div class="form-group">
							    <div class="form-check">
							      <input type="checkbox" name="conditionsAccepted" class="form-check-input" required>
							      <label class="form-check-label text-dark"> J'accepte les <a href="#"> termes et conditions </a> </label>
							      <br>
							    </div>
							</div>
					        
							<div class="form-group mt-2">
								<button type="submit" class="btn btn-primary w-100" ng-disabled="userForm.$invalid" >Lancer ma Campagne</button>				
							</div>
			         </form>

				</div>
				
				<div class="col-lg-8 mx-auto" style="margin-top:150px">
					<h2 class="">
						<strong>Réseau&nbsp d’Affichage&nbsp  Digital </strong>
					</h2>
					<br>
				</div>
			</div>
		</div>
	</header>
	
	<th:block th:include="portal/_footer"></th:block>


</body>
</html>