<!DOCTYPE html>
<html lang="en">

<head>
<!-- Bootstrap & Fa -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Angular JS & UI Grid libraries -->
<link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
<script th:src="@{/apps/crudApp.js}"></script>

<!-- Date Time picker -->

</head>

<body ng-app="crudApp" ng-controller="crudCtrl as vm">

	<!-- CONFIGURE ANGULAR CRUD APP with object name -->
	<script> app.value('objectModel','program'); </script>

	<!-- SPECIFIC FILTERS and Create Button -->
	<div class="row m-2 rounded bg-light">
		<div class="m-2 w-100">
			
				<!-- add specific filters here -->
				<div class="form-row pt-2">

					<div class="col-lg-2 col-md-2 col-sm-6 mb-2 mb-md-0 float-left">
						Filter Medias by size:
						<div>
							<input type="text" name="sizeMin" class="form-control" placeholder="max size" 
								ng-model="specificFilters.sizeMin" ng-change="getCollectionData()">
							<input type="text" name="sizeMax" class="form-control" placeholder="min size"
								ng-model="specificFilters.sizeMax" ng-change="getCollectionData()">
						</div>
					</div>
					

					<div class="ml-auto col-lg-2 col-md-2 col-sm-6 mb-2 mb-md-0">
						<button ng-click="setFormData('','create')" type="button" class="btn btn-block btn-primary float-right" data-toggle="modal" data-target="#createEditObjectModal">
							<i class="fa fa-plus fa-fw"></i>&nbsp; New {{objectTarget}}
						</button>
					</div>

				</div>
		</div>
	</div>


	<!-- DATA TABLE -->
	<div class="row m-2  rounded bg-light" id="tableRow">
		<div class="m-4 w-100" style="font-size: 12px">
			<div id="crudTable">
				<div ui-grid="gridOptions" class="grid" ui-grid-pagination></div>
			</div>

		</div>
	</div>


	<!-- CREATE / EDIT an object modal -->
	<div class="modal fade" id="createEditObjectModal" tabindex="-1">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createEditObjectModalLabel">Create an Object</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body m-1 p-1">		
					<form id="objectForm" name="objectForm" class="m-2">
						
						<!-- automatic form fields for each object-->
						 <div ng-repeat="field in schema" class="form-group row">
						    <label class="col-sm-2 col-form-label">{{field.title}}</label>
						    
						    <!-- case of a Textfield -->
						    <div ng-if="field.type=='String'" class="col-sm-10">
								<input type="text" class="form-control" name="{{field.name}}" ng-model="formData[field.name]" ng-class="{ 'is-invalid' : objectForm[field.name].$invalid && !objectForm[field.name].$pristine }" required>
								<small ng-show="objectForm[field.name].$invalid && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
							</div>
							
							<!-- case of a Number -->
						    <div ng-if="field.type=='int' || field.type=='Long' || field.type=='BigDecimal' " class="col-sm-10">
								<input type="text" class="form-control" name="{{field.name}}" ng-model="formData[field.name]" ng-pattern="/^[0-9]*$/" ng-class="{ 'is-invalid' : objectForm[field.name].$invalid && !objectForm[field.name].$pristine }" required>
								<small ng-show="objectForm[field.name].$error.required && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
								<small ng-show="!objectForm[field.name].$error.required  && objectForm[field.name].$error.pattern && !objectForm[field.name].$pristine" class="text-danger">&nbsp field {{field.title}} must be a number </small>				
							</div>
							
							<!-- case of a Date -->
						    <div ng-if="field.type=='Date'" class="col-sm-10">
								<input type="text" class="form-control" name="{{field.name}}" place-holder="YYYY-MM-DDTHH:MM:SSZ" ng-model="formData[field.name]" ng-pattern="/([0-2][0-9]{3})\-([0-1][0-9])\-([0-3][0-9])T([0-5][0-9])\:([0-5][0-9])\:([0-5][0-9])(Z|([\-\+]([0-1][0-9])\:00))/" ng-class="{ 'is-invalid' : objectForm[field.name].$invalid && !objectForm[field.name].$pristine }" required>
								<small ng-show="objectForm[field.name].$error.required && !objectForm[field.name].$pristine" class="text-danger"> &nbsp field {{field.title}} is required </small>
								<small ng-show="!objectForm[field.name].$error.required  && objectForm[field.name].$error.pattern && !objectForm[field.name].$pristine" class="text-danger">&nbsp field {{field.title}} must be a date format YYYY-MM-DDTHH:MM:SSZ </small>					
							</div>
							
											
						</div>
						
						

						<!-- add specific form fields here -->

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button id="createEditObjectModalAction" ng-click="createTargetObject()" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="objectForm.$invalid">Create</button>
						</div>
					</form>	
																									
				</div>

			</div>
		</div>
	</div>


	<!-- DELETE an object modal -->
	<div class="modal fade" id="deleteObjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteObjectModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteObjectModalLabel">Delete an Object</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="modal-title" id="exampleModalLabel">Are your sure you want to delete that Object?</p>
					<br>
					<!-- automatic form fields for each object-->
					<p ng-repeat="field in schema" class="ml-2">
						{{field.title}} : {{formData[field.name]}} <br>
					</p>

					<!-- add specific form fields here-->
					
				</div>
				<div class="modal-footer">
					<button ng-click="cleanFormData()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button ng-click="deleteTargetObject()" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>


</body>

</html>